@import url("https://use.typekit.net/mbq5ahw.css");
body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.navbar {
  height: 3.125em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #f6f8f9;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.navbar .logo {
  padding: 0 1.250em;
}

@media (max-width: 425px) {
  .navbar .logo {
    position: absolute;
    left: 40%;
  }
}

.navbar .logo a {
  font-family: "Helvetica", Arial;
  color: #FA6980;
  text-decoration: none;
  font-weight: 700;
  font-size: 13px;
}

.navbar .phoneavatar {
  display: none;
}

@media (max-width: 425px) {
  .navbar .phoneavatar {
    display: inline;
    position: absolute;
    right: 0;
    margin-right: 16px;
  }
}

@media (max-width: 425px) {
  .navbar .slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.navbar .slider .hammburger-menu {
  width: 16px;
  height: 20px;
  border: 0;
  display: none;
  margin: 0 0 0 16px;
}

@media (max-width: 425px) {
  .navbar .slider .hammburger-menu {
    display: inline-block;
  }
  .navbar .slider .hammburger-menu div {
    background-color: #202124;
    width: 16px;
    height: 2px;
    margin: 4px 0;
  }
}

.navbar .slider .hammburger-links {
  padding: 0 1.250em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 425px) {
  .navbar .slider .hammburger-links {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    left: 0;
    top: 100%;
    min-height: 31.375em;
    width: 100%;
    padding: 0;
  }
}

@media (max-width: 425px) {
  .navbar .slider .hammburger-links .menu-img {
    position: absolute;
  }
}

@media (max-width: 425px) {
  .navbar .slider .hammburger-links .menu-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.navbar .slider .hammburger-links .menu-items a {
  padding: 0 1.500em;
  text-decoration: none;
  font-family: "Helvetica", Arial;
  font-size: 11px;
  color: #a6adb4;
}

@media (max-width: 425px) {
  .navbar .slider .hammburger-links .menu-items a {
    display: none;
  }
}

.navbar .slider .hammburger-links .menu-items .under-home {
  position: absolute;
  top: 2.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #F6F8F9;
  min-width: 12.5em;
  min-height: 12.5em;
  z-index: 1;
  display: none;
}

.navbar .slider .hammburger-links .menu-items .under-home a {
  margin: 10px 0;
}

.navbar .slider .hammburger-links .menu-items .openhome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar .slider .hammburger-links img {
  padding: 0 1.250em;
}

.navbar .slider .hammburger-links .active {
  color: #202124;
}

.navbar .slider .hammburger-links.openmenu a {
  display: inline-block;
  color: #000000;
}

.navbar .slider .hammburger-links.openmenubackground {
  background: #F6F8F9;
  min-height: 31.375em;
  width: 100%;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0;
  padding: 0;
  min-height: 37.500em;
  width: 100%;
}

@media (max-width: 1024px) {
  .hero {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.hero .left-side {
  background-image: url("../images/hero-background.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 76.25em;
  min-height: 37.500em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
}

.hero .left-side .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 560px;
  margin: 0 auto;
  padding: 0;
}

@media (max-width: 425px) {
  .hero .left-side .content {
    width: 23.4375em;
  }
}

.hero .left-side .content h1,
.hero .left-side .content h2 {
  font-family: "Helvetica";
  font-weight: 700;
  font-family: 24px;
  color: #ffffff;
}

.hero .left-side .content h1 {
  padding: 0 0 40px;
  border-bottom: 2px solid #ffffff;
  margin: 0;
}

.hero .left-side .content h2 {
  margin: 0;
  padding: 40px 0 10px;
}

.hero .left-side .content p {
  font-family: "Helvetica";
  font-weight: 400;
  font-family: 16px;
  color: #ffffff;
  margin: 0;
}

.hero .right-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 37.5em;
}

@media (max-width: 1024px) {
  .hero .right-side {
    width: 100%;
  }
}

.hero .right-side .content {
  width: 23.75em;
  margin: 0 auto;
  position: relative;
  z-index: 0;
}

@media (max-width: 1024px) {
  .hero .right-side .content {
    margin: 40px auto 80px;
    width: 50em;
  }
}

@media (max-width: 768px) {
  .hero .right-side .content {
    width: 38em;
  }
}

@media (max-width: 425px) {
  .hero .right-side .content {
    margin: 42px 24px 40px;
    width: 23.4375em;
  }
}

.hero .right-side .content h2 {
  font-family: "Helvetica";
  font-weight: 700;
  font-family: 24px;
  color: #202124;
  border-bottom: 2px solid #ebeded;
  margin: 0;
  padding: 0 0 40px;
}

.hero .right-side .content .carousel .arrow {
  border: solid #202124;
  width: 6px;
  height: 6px;
  border-width: 0 2px 2px 0;
  position: absolute;
  cursor: pointer;
  display: inline-block;
}

.hero .right-side .content .carousel #left {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  right: 10%;
}

@media (max-width: 1024px) {
  .hero .right-side .content .carousel #left {
    right: 4%;
  }
}

.hero .right-side .content .carousel #right {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  right: 0;
}

@media (max-width: 1024px) {
  .hero .right-side .content .text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (max-width: 425px) {
  .hero .right-side .content .text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 1024px) {
  .hero .right-side .content .text .article {
    margin: 0 40px 0 0;
  }
}

.hero .right-side .content .text .article h3 {
  font-family: "Helvetica";
  font-size: 16px;
  font-weight: 700;
  color: #FA6980;
}

.hero .right-side .content .text .article h4 {
  font-family: "Helvetica";
  font-size: 16px;
  font-weight: 700;
  color: #202124;
}

.hero .right-side .content .text .article p {
  font-family: "Acumin Pro";
  font-size: 16px;
  font-weight: 400;
  color: #a6adb4;
}

.hero .right-side .content .text .article .time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.hero .right-side .content .text .article .time img {
  max-width: 16px;
  max-height: 16px;
}

.hero .right-side .content .text .article .time span {
  font-style: oblique;
  font-family: "Helvetica";
  font-size: 13px;
  color: #a6adb4;
  padding: 0 10px;
  margin: 0;
}

.wrapper {
  background: #ebeded;
  width: 100%;
  margin: 0;
  padding: 0;
  /* Styling span with time*/
}

.wrapper .time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.wrapper .time img {
  max-width: 16px;
  max-height: 16px;
}

.wrapper .time span {
  font-style: oblique;
  font-family: "Helvetica", Arial;
  font-size: 13px;
  color: #a6adb4;
  padding: 0 10px;
  margin: 0;
}

.wrapper .trending {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 72.5em;
  margin: 0 auto;
  position: relative;
}

@media (max-width: 1024px) {
  .wrapper .trending {
    max-width: 50em;
  }
}

@media (max-width: 768px) {
  .wrapper .trending {
    width: 38em;
  }
}

@media (max-width: 425px) {
  .wrapper .trending {
    width: 23.4375em;
  }
}

.wrapper .trending .heading {
  margin: 0;
}

.wrapper .trending .heading h2 {
  font-family: "Helvetica", Arial;
  font-weight: 700;
  font-family: 24px;
  margin: 0;
  color: #202124;
  padding: 40px 0;
}

.wrapper .trending .heading .carousel .arrow {
  border: solid #202124;
  width: 6px;
  height: 6px;
  border-width: 0 2px 2px 0;
  position: absolute;
  cursor: pointer;
  display: inline-block;
}

.wrapper .trending .heading .carousel #left {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  right: 4%;
  top: 10%;
}

@media (max-width: 425px) {
  .wrapper .trending .heading .carousel #left {
    top: 5%;
  }
}

.wrapper .trending .heading .carousel #right {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  right: 0;
  top: 10%;
}

@media (max-width: 425px) {
  .wrapper .trending .heading .carousel #right {
    top: 5%;
  }
}

.wrapper .trending .content {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (max-width: 425px) {
  .wrapper .trending .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.wrapper .trending .content .item,
.wrapper .trending .content .item3 {
  background: #ffffff;
  border-radius: 5px;
  width: 22.5em;
  margin-right: 40px;
}

@media (max-width: 768px) {
  .wrapper .trending .content .item img,
  .wrapper .trending .content .item3 img {
    width: 17.75em;
  }
}

@media (max-width: 768px) and (max-width: 425px) {
  .wrapper .trending .content .item img,
  .wrapper .trending .content .item3 img {
    width: 20.4375em;
  }
}

@media (max-width: 768px) {
  .wrapper .trending .content .item,
  .wrapper .trending .content .item3 {
    width: 17.75em;
  }
}

@media (max-width: 425px) {
  .wrapper .trending .content .item,
  .wrapper .trending .content .item3 {
    width: 20.4375em;
    margin: 0 auto 40px;
  }
}

.wrapper .trending .content .item .text,
.wrapper .trending .content .item3 .text {
  padding: 0;
  max-width: 280px;
  min-height: 170px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .wrapper .trending .content .item .text,
  .wrapper .trending .content .item3 .text {
    margin: 0 40px;
  }
}

.wrapper .trending .content .item .text h3,
.wrapper .trending .content .item3 .text h3 {
  margin: 0 0 10px;
  padding-top: 40px;
  font-family: "Helvetica", Arial;
  font-weight: 700;
  font-size: 16px;
}

.wrapper .trending .content .item .text p,
.wrapper .trending .content .item3 .text p {
  margin: 0 0 10px;
  font-family: "Acumin Pro";
  font-weight: 400;
  font-size: 13px;
  color: #a6adb4;
}

.wrapper .trending .content .item .text span,
.wrapper .trending .content .item3 .text span {
  padding-bottom: 40px;
}

@media (max-width: 1024px) {
  .wrapper .trending .content .item3 {
    display: none;
  }
}

.wrapper .happening {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 72.5em;
  margin: 40px auto 0;
}

@media (max-width: 1024px) {
  .wrapper .happening {
    width: 50em;
  }
}

@media (max-width: 768px) {
  .wrapper .happening {
    width: 38em;
  }
}

@media (max-width: 425px) {
  .wrapper .happening {
    margin: 0 auto;
    width: 23.4375em;
  }
}

.wrapper .happening .heading {
  font-family: "Helvetica";
  font-weight: 700;
  font-family: 24px;
}

.wrapper .happening .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (max-width: 1024px) {
  .wrapper .happening .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.wrapper .happening .content h3 {
  font-family: "Helvetica";
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
}

.wrapper .happening .content h2 {
  font-family: "Helvetica";
  font-weight: 700;
  font-size: 24px;
  color: #ffffff;
  margin: 5px 0;
}

.wrapper .happening .content p {
  font-family: "Helvetica";
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
  margin: 5px 0;
}

.wrapper .happening .content .left-side .item1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url(../images/happeningbig-img-1.png);
  background-repeat: no-repeat;
  width: 47.5em;
  min-height: 26.875em;
  position: relative;
  margin: 40px 0;
}

@media (max-width: 768px) {
  .wrapper .happening .content .left-side .item1 {
    width: 38em;
    border-radius: 9px;
  }
}

@media (max-width: 425px) {
  .wrapper .happening .content .left-side .item1 {
    width: 23.4375em;
  }
}

.wrapper .happening .content .left-side .item1 .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper .happening .content .left-side .item1 .content .name {
  margin: 40px 40px 0;
}

.wrapper .happening .content .left-side .item1 .content .text {
  max-width: 42.5em;
  position: absolute;
  bottom: 10%;
  margin: 0 40px;
}

.wrapper .happening .content .left-side .item2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url("../images/happeningbig-img-2.png");
  background-repeat: no-repeat;
  width: 47.5em;
  min-height: 26.875em;
  position: relative;
  margin: 40px 0;
}

@media (max-width: 768px) {
  .wrapper .happening .content .left-side .item2 {
    width: 38em;
    border-radius: 9px;
  }
}

@media (max-width: 425px) {
  .wrapper .happening .content .left-side .item2 {
    width: 23.4375em;
  }
}

.wrapper .happening .content .left-side .item2 .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper .happening .content .left-side .item2 .content .name {
  margin: 40px 40px 0;
}

.wrapper .happening .content .left-side .item2 .content .text {
  max-width: 42.5em;
  position: absolute;
  bottom: 10%;
  margin: 0 40px;
}

.wrapper .happening .content .right-side {
  width: 22.5em;
  margin: 40px 40px;
}

@media (max-width: 1024px) {
  .wrapper .happening .content .right-side {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-left: 0;
  }
}

@media (max-width: 425px) {
  .wrapper .happening .content .right-side {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.wrapper .happening .content .right-side h4 {
  font-family: Arial;
  font-weight: 700;
  font-size: 16px;
  margin: 20px 0;
}

.wrapper .happening .content .right-side .time {
  margin: 10px 0 40px;
}

@media (max-width: 1024px) {
  .wrapper .happening .content .right-side .item1 {
    margin-right: 40px;
  }
}

@media (max-width: 1024px) {
  .wrapper .happening .content .right-side .item3 {
    display: none;
  }
}

@media (max-width: 768px) {
  .wrapper .happening .content .right-side .item1 img,
  .wrapper .happening .content .right-side .item2 img {
    width: 17.75em;
  }
}

@media (max-width: 425px) {
  .wrapper .happening .content .right-side .item1 img,
  .wrapper .happening .content .right-side .item2 img {
    width: 23.4375em;
  }
}

@media (max-width: 768px) {
  .wrapper .happening .content .right-side .item1,
  .wrapper .happening .content .right-side .item2 {
    width: 17.75em;
  }
}

.footer .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #a6adb4;
}

@media (max-width: 768px) {
  .footer .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 1024px) {
  .footer .wrapper .col-1 {
    margin: 0 0 0 40px;
  }
}

@media (max-width: 425px) {
  .footer .wrapper .col-1 {
    margin: 0;
    width: 23.4375em;
  }
}

.footer .wrapper .col-1 .main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 56px 0 60px;
}

@media (max-width: 768px) {
  .footer .wrapper .col-1 .main {
    width: 38em;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.footer .wrapper .col-1 .main a {
  text-decoration: none;
  font-family: "Helvetica";
  font-weight: 700;
  font-size: 11px;
  color: #CBD0D3;
}

.footer .wrapper .col-1 .main .logo a {
  color: #ffffff;
  margin: 0 38px 0 0;
}

@media (max-width: 425px) {
  .footer .wrapper .col-1 .main .logo {
    display: none;
  }
}

.footer .wrapper .col-1 .main .navigation-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (max-width: 425px) {
  .footer .wrapper .col-1 .main .navigation-items {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer .wrapper .col-1 .main .navigation-items .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer .wrapper .col-1 .main .navigation-items .navigation a {
  margin: 0 38px 8px 0;
}

.footer .wrapper .col-1 .main .navigation-items .navigation1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer .wrapper .col-1 .main .navigation-items .navigation1 a {
  margin: 0 38px 8px 0;
}

@media (max-width: 425px) {
  .footer .wrapper .col-1 .main .navigation-items .navigation1 {
    display: none;
  }
}

.footer .wrapper .col-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (max-width: 768px) {
  .footer .wrapper .col-2 {
    width: 38em;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.footer .wrapper .col-2 .mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  margin: 56px 40px 60px;
}

@media (max-width: 768px) {
  .footer .wrapper .col-2 .mail {
    margin: 50px 0 60px;
  }
}

@media (max-width: 425px) {
  .footer .wrapper .col-2 .mail {
    display: none;
  }
}

.footer .wrapper .col-2 .mail img {
  position: absolute;
  right: 10%;
  margin: 12px 0 0;
}

.footer .wrapper .col-2 .mail span {
  font-family: "Helvetica";
  font-weight: 400;
  font-size: 11px;
  color: #CBD0D3;
  margin: 16px 0;
}

.footer .wrapper .col-2 .mail input {
  min-width: 16.25em;
  min-height: 40px;
  border-radius: 5px;
  border: 1px solid #CBD0D3;
  background: #a6adb4;
}

.footer .wrapper .col-2 .mail input::-webkit-input-placeholder {
  position: relative;
  left: 10%;
  color: #CBD0D3;
}

.footer .wrapper .col-2 .mail input:-ms-input-placeholder {
  position: relative;
  left: 10%;
  color: #CBD0D3;
}

.footer .wrapper .col-2 .mail input::-ms-input-placeholder {
  position: relative;
  left: 10%;
  color: #CBD0D3;
}

.footer .wrapper .col-2 .mail input::placeholder {
  position: relative;
  left: 10%;
  color: #CBD0D3;
}

.footer .wrapper .col-2 .socials {
  margin: 56px 0 60px;
}

@media (max-width: 425px) {
  .footer .wrapper .col-2 .socials {
    width: 23.4375em;
    margin: 20px auto;
  }
}

.footer .wrapper .col-2 .socials img {
  margin: 0 56px 0 0;
}

@media (max-width: 425px) {
  .footer .wrapper .col-2 .socials img {
    margin: 0;
  }
}
/*# sourceMappingURL=custom.css.map */